In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
import pandas as pd
import requests
import json
import requests
import time
from datetime import datetime
from IPython.display import display, clear_output
import numpy as np
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
target_diff = 0.01
stop_loss = 0.01
units = 1000
profit = (target_diff / 0.0001)*(units/10000)
loss = (stop_loss / 0.0001)*(units/10000)
version = '10'

In [4]:
filename_date = '100919'

layout = pd.read_csv('../data/' + filename_date + 'mds_out_layout.csv')
layout = layout['features'].values
data = pd.read_csv('../data/' + filename_date + 'mds_out.csv', usecols=layout)
data.shape

(16415, 785)

In [5]:
data['time'].min()

'2017-01-19 21:00:00'

In [6]:
data['time'].max()

'2019-09-24 19:00:00'

In [7]:
num_cols = ['ask_c', 'bid_c']

In [8]:
data['time'] = pd.to_datetime(data['time'])
data = data.sort_values(by='time')
data = data.drop_duplicates(subset=['time'])
data = data.reset_index(drop=True)
data['index'] = data.index
for n in num_cols:
    data[n] = pd.to_numeric(data[n])
data['target_tp'] = data['ask_c'] + target_diff
data['target_sl'] = data['bid_c'] - stop_loss
data = data[~data['target_tp'].isnull()]

In [9]:
data['diff'] = data['target_tp'] - data['target_sl']
data['diff'].describe()

count    16415.000000
mean         0.020155
std          0.000097
min          0.020090
25%          0.020120
50%          0.020130
75%          0.020140
max          0.021500
Name: diff, dtype: float64

In [10]:
# data[['index', 'time', 'volume', 'bid_o', 'bid_h','bid_l','bid_c', 'ask_o', 'ask_h','ask_l','ask_c', 'ask_prev_c', 'bid_prev_c', 'target_tp', 'target_sl', 'g', 'l', 'l_time']].head(40)

In [11]:
data['g']=np.NaN
data['l']=np.NaN
deep=len(data.index)
irange = data['index'].values
tp_good = False
sl_good = False

for i in irange:

    while tp_good == False and sl_good == False:
        show = (i / len(irange))*100
        show = str(round(show, 2))
        show = show + ' - ' + str(datetime.now())
        display(show)
        tp_good = False
        sl_good = False
    #     print(i)

        for r in irange:
    #             print(i, r, tp_good, sl_good)
            if r > i:
                if tp_good == False and sl_good == False:
                    if  data[data['index'] == r]['ask_h'].values[0] >= data[data['index'] == i]['target_tp'].values[0] and not tp_good:
                        data.at[i, 'g'] = data[data['index'] == r]['index'].values[0]
                        data.at[i, 'g_time'] = data[data['index'] == r]['time'].values[0]
                        tp_good = True
                    else:
                        data.at[i, 'g'] = None
                        data.at[i, 'g_time'] =None

                    if  data[data['index'] == r]['bid_l'].values[0] <= data[data['index'] == i]['target_sl'].values[0] and not sl_good:
                        data.at[i, 'l'] = data[data['index'] == r]['index'].values[0]
                        data.at[i, 'l_time'] = data[data['index'] == r]['time'].values[0]
                        sl_good = True
                    else:  
                        data.at[i, 'l'] = None     
                        data.at[i, 'l_time'] = None  
                else:
                    break

        clear_output()    

#     print(datetime.now())

In [12]:
# START WITH FIRST TARGET INDEX BEC TIME ISSUE

if tp_good:
    target_index = data['g'].max()
    good_data = data[~data['g'].isnull()].copy()

if sl_good:
    target_index = data['l'].max()
    good_data = data[~data['g'].isnull()].copy()

tp_good = False
sl_good = False
done = False

counter = 1
while not done:
    show = (target_index / len(irange))*100
    show = str(round(show, 2))
    show = show + ' - ' + str(datetime.now())
    display(show)
    tp_good = False
    sl_good = False

    for r in irange:
        if r > target_index:
            if tp_good == False and sl_good == False:
                if  data[data['index'] == r]['ask_h'].values[0] >= data[data['index'] == target_index]['target_tp'].values[0] and not tp_good:
                    data.at[target_index, 'g'] = data[data['index'] == r]['index'].values[0]
                    data.at[target_index, 'g_time'] = data[data['index'] == r]['time'].values[0]
                    tp_good = True
                else:
                    data.at[target_index, 'g'] = None
                    data.at[target_index, 'g_time'] =None


                if  data[data['index'] == r]['bid_l'].values[0] <= data[data['index'] == target_index]['target_sl'].values[0] and not sl_good:
                    data.at[target_index, 'l'] = data[data['index'] == r]['index'].values[0]
                    data.at[target_index, 'l_time'] = data[data['index'] == r]['time'].values[0]
                    sl_good = True

                else:  
                    data.at[i, 'l'] = None     
                    data.at[i, 'l_time'] = None  
            else:
                break
    
    if tp_good == True:
        target_index = data['g'].max()
        try:
            temp = data[data['g'] == target_index].copy()
            temp2 = data[data['index'] == target_index].copy()

            if counter == 1:
                good_data = temp
                counter += 1
            else:
                good_data = good_data.append(temp)

            if target_index == data['index'].max():
                done = True
        except IndexError:
            done = True

    elif sl_good == True:
        target_index = data['l'].max()
        try:
            temp = data[data['l'] == target_index].copy()
            temp2 = data[data['index'] == target_index].copy()

            if counter == 1:
                good_data = temp
                counter += 1
            else:
                good_data = good_data.append(temp)

            if target_index == data['index'].max():
                done = True
        except IndexError:
            done = True
            
    else:
        done = True


    clear_output()

In [13]:
# good_mask = (data['g'].isnull()) & (data['l'].isnull())
# good_data = data[~good_mask].copy()
good_data.shape

(159, 793)

In [14]:
good_data[['time', 'volume', 'bid_o', 'bid_h','bid_l','bid_c', 'ask_o', 'ask_h','ask_l','ask_c', 'target_tp', 'target_sl', 'g', 'l', 'l_time']].head(10)

,time,volume,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c,target_tp,target_sl,g,l,l_time
30,2017-01-23 03:00:00,8149,1.07475,1.07544,1.07394,1.07413,1.07490,1.07558,1.07408,1.07426,1.08426,1.06413,NaN,156.0,2017-01-30 09:00:00
156,2017-01-30 09:00:00,11299,1.06607,1.06650,1.06256,1.06286,1.06620,1.06661,1.06270,1.06303,1.07303,1.05286,179.0,NaN,NaT
179,2017-01-31 08:00:00,11088,1.07007,1.07517,1.06986,1.07501,1.07020,1.07533,1.06998,1.07513,1.08513,1.06501,NaN,320.0,2017-02-08 05:00:00
320,2017-02-08 05:00:00,5588,1.06578,1.06634,1.06422,1.06593,1.06589,1.06648,1.06435,1.06605,1.07605,1.05593,NaN,440.0,2017-02-15 05:00:00
440,2017-02-15 05:00:00,3723,1.05738,1.05742,1.05519,1.05620,1.05749,1.05754,1.05533,1.05632,1.06632,1.04620,471.0,NaN,NaT
471,2017-02-16 12:00:00,6384,1.06581,1.06760,1.06543,1.06675,1.06593,1.06774,1.06555,1.06687,1.07687,1.05675,NaN,536.0,2017-02-21 05:00:00
536,2017-02-21 05:00:00,4045,1.05771,1.05772,1.05571,1.05646,1.05787,1.05787,1.05584,1.05659,1.06659,1.04646,855.0,NaN,NaT
855,2017-03-10 12:00:00,12066,1.06335,1.06699,1.06201,1.06564,1.06346,1.06712,1.06214,1.06579,1.07579,1.05564,956.0,NaN,NaT
956,2017-03-16 16:00:00,2784,1.07482,1.07694,1.07407,1.07685,1.07495,1.07707,1.07421,1.07698,1.08698,1.06685,1111.0,NaN,NaT
1111,2017-03-27 03:00:00,12705,1.08487,1.08690,1.08446,1.08622,1.08499,1.08704,1.08459,1.08636,1.09636,1.07622,NaN,1164.0,2017-03-29 08:00:00

In [15]:
def get_target(value):
    if value > 0:
        return 1
    else:
        return 0

In [16]:
# max_date = data['time'].max()
good_data['g_time'] = pd.to_datetime(good_data['g_time'])
good_data['l_time'] = pd.to_datetime(good_data['l_time'])

good_data['g'] = pd.to_numeric(good_data['g'])
good_data['l'] = pd.to_numeric(good_data['l'])

good_data['g'] = good_data['g'].fillna(0)
good_data['l'] = good_data['l'].fillna(0)

# data['g'] = data['g'].fillna(data['index'].max())
# data['l'] = data['l'].fillna(data['index'].max())

good_data['long_target'] = good_data['g'].apply(get_target)
good_data['short_target'] = good_data['l'].apply(get_target)

print(good_data['long_target'].value_counts())
print()
print(good_data['short_target'].value_counts())

1    82
0    77
Name: long_target, dtype: int64

0    82
1    77
Name: short_target, dtype: int64

In [17]:
# good_data['g_time_shift'] = good_data['g_time'].shift(1)
# good_data['g_time_shift'] = pd.to_datetime(good_data['g_time_shift'] )
good_data['time'] = pd.to_datetime(good_data['time'] )
# good_data['g_diff'] = good_data['g_time'] - good_data['g_time_shift']
# good_data['g_diff'] = good_data['g_diff'].dt.seconds

In [18]:
# good_data['order'] = good_data.index
# t1 = good_data[good_data['g'] != 0.0].drop_duplicates(subset='g')
# t2 = good_data[good_data['l'] != 0.0].drop_duplicates(subset='l')
# good_data = pd.concat([t1, t2], axis=0)
# good_data= good_data.sort_values(by='order')
good_data['same_time'] = good_data['g_time'] == good_data['l_time']
good_data['same_time'] = good_data['same_time'].apply(lambda x: 1 if x else 0)
good_data = good_data[good_data['same_time'] == 0]
good_data.shape

(159, 796)

In [19]:
pos = good_data[good_data['long_target'] == 1].copy()
print(pos.shape)
neg = good_data[good_data['long_target'] == 0].copy()

pos['time_diff'] = (pos['g_time'] - pos['time']) / np.timedelta64(1, 'h')
pos_bad = pos[pos['time_diff'] > 120].copy()
pos_bad['short_target'] = 0

pos = pos[pos['time_diff'] <= 120]

pos.drop(['time_diff'], axis=1, inplace=True)
pos_bad.drop(['time_diff'], axis=1, inplace=True)

good_data = pd.concat([pos, neg, pos_bad], axis=0)
good_data.shape

In [20]:
good_data.to_csv('../data/' + filename_date + '_mds_out_final_v' + version + '_long_live.csv', index=False, header=True)

In [21]:
good_data[['time', 'bid_c', 'ask_c','target_tp', 'target_sl', 'g', 'l', 'g_time', 'l_time', 'long_target', 'short_target', 'time']].head(10)

,time,bid_c,ask_c,target_tp,target_sl,g,l,g_time,l_time,long_target,short_target,time
30,2017-01-23 03:00:00,1.07413,1.07426,1.08426,1.06413,0.0,156.0,NaT,2017-01-30 09:00:00,0,1,2017-01-23 03:00:00
156,2017-01-30 09:00:00,1.06286,1.06303,1.07303,1.05286,179.0,0.0,2017-01-31 08:00:00,NaT,1,0,2017-01-30 09:00:00
179,2017-01-31 08:00:00,1.07501,1.07513,1.08513,1.06501,0.0,320.0,NaT,2017-02-08 05:00:00,0,1,2017-01-31 08:00:00
320,2017-02-08 05:00:00,1.06593,1.06605,1.07605,1.05593,0.0,440.0,NaT,2017-02-15 05:00:00,0,1,2017-02-08 05:00:00
440,2017-02-15 05:00:00,1.05620,1.05632,1.06632,1.04620,471.0,0.0,2017-02-16 12:00:00,NaT,1,0,2017-02-15 05:00:00
471,2017-02-16 12:00:00,1.06675,1.06687,1.07687,1.05675,0.0,536.0,NaT,2017-02-21 05:00:00,0,1,2017-02-16 12:00:00
536,2017-02-21 05:00:00,1.05646,1.05659,1.06659,1.04646,855.0,0.0,2017-03-10 12:00:00,NaT,1,0,2017-02-21 05:00:00
855,2017-03-10 12:00:00,1.06564,1.06579,1.07579,1.05564,956.0,0.0,2017-03-16 16:00:00,NaT,1,0,2017-03-10 12:00:00
956,2017-03-16 16:00:00,1.07685,1.07698,1.08698,1.06685,1111.0,0.0,2017-03-27 03:00:00,NaT,1,0,2017-03-16 16:00:00
1111,2017-03-27 03:00:00,1.08622,1.08636,1.09636,1.07622,0.0,1164.0,NaT,2017-03-29 08:00:00,0,1,2017-03-27 03:00:00

In [22]:
shorts = good_data[good_data['short_target'] == 1].copy()
shorts['time'] = pd.to_datetime(shorts['time'])
shorts['l_time'] = pd.to_datetime(shorts['l_time'] )
shorts['time_diff'] = shorts['l_time'] - shorts['time']
shorts['time_diff'].head()

30     7 days 06:00:00
179    7 days 21:00:00
320    7 days 00:00:00
471    4 days 17:00:00
1111   2 days 05:00:00
Name: time_diff, dtype: timedelta64[ns]

In [23]:
shorts['time_diff'] = shorts['time_diff']  / np.timedelta64(1, 'h')

In [24]:
shorts['time_diff'].describe()

count     77.000000
mean     149.532468
std      121.910298
min        5.000000
25%       53.000000
50%      132.000000
75%      189.000000
max      686.000000
Name: time_diff, dtype: float64

In [25]:
dcounts = good_data['time'].value_counts().reset_index()
dcounts.columns = ['time', 'count']

In [26]:
24*5

120